body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
}

.range {
  display: flex;
}

.wrapper {
  display: flex;
  width: 300px;
  position: relative;
}

.result {
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: yellowgreen;
}

.bar {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
}
